flows.json
[
    {
        "id": "1c1b1c29b5b8b2f4",
        "type": "tab",
        "label": "Hivehoes Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a6b72d01bcd99b74",
        "type": "ui_group",
        "name": "Events/Communications from Incuhive",
        "tab": "d05445e29cdd76aa",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b79d28b42e0c4d25",
        "type": "ui_group",
        "name": "Hive-Hoes in the News",
        "tab": "d05445e29cdd76aa",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c18e2c43b92f572c",
        "type": "ui_group",
        "name": "Local Weather, Local Bus Timetables, Any Other Business",
        "tab": "d05445e29cdd76aa",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d05445e29cdd76aa",
        "type": "ui_tab",
        "name": "Hivehoes Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "f66285f858e66cad",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY-MM-DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e9eabc9f6bfeb7d1",
        "type": "inject",
        "z": "1c1b1c29b5b8b2f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Upcoming event: Workshop on Node-RED",
        "payloadType": "str",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "dd7b124c36226f89"
            ]
        ]
    },
    {
        "id": "dd7b124c36226f89",
        "type": "ui_text",
        "z": "1c1b1c29b5b8b2f4",
        "group": "a6b72d01bcd99b74",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Incuhive Updates",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "f5b2248d2f5a59e3",
        "type": "inject",
        "z": "1c1b1c29b5b8b2f4",
        "name": "Trigger NewsAPI Call",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hive-Hoes Trigger NewsAPI Call!",
        "payloadType": "str",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "76cd4f1dd752e61a"
            ]
        ]
    },
    {
        "id": "f7748f2b66341b6d",
        "type": "ui_text",
        "z": "1c1b1c29b5b8b2f4",
        "group": "b79d28b42e0c4d25",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dmitrijs' Watch",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1240,
        "y": 200,
        "wires": []
    },
    {
        "id": "7b69e14b925f6c95",
        "type": "inject",
        "z": "1c1b1c29b5b8b2f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Local Weather: Sunny, 23°C",
        "payloadType": "str",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "7ae6d3d13420bf23"
            ]
        ]
    },
    {
        "id": "7ae6d3d13420bf23",
        "type": "ui_text",
        "z": "1c1b1c29b5b8b2f4",
        "group": "c18e2c43b92f572c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Local Updates",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 450,
        "y": 300,
        "wires": []
    },
    {
        "id": "76cd4f1dd752e61a",
        "type": "http request",
        "z": "1c1b1c29b5b8b2f4",
        "name": "Request search from the News API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://newsapi.org/v2/everything?q=dmitrijs%20meiksans&from=2024-09-18&sortBy=publishedAt&apiKey=7dcbe92111ff4fecb27fffbe5ca9c0d9",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "1f37d1478465dfb9"
            ]
        ]
    },
    {
        "id": "1f37d1478465dfb9",
        "type": "function",
        "z": "1c1b1c29b5b8b2f4",
        "name": "return formatted articles",
        "func": "let articles = msg.payload.articles;\n\nif (!articles || articles.length === 0) {\n    msg.payload = \"No recent news found for Dmitrijs Meiksans.\";\n} else {\n    let formattedArticles = articles.slice(0, 3).map(article => `${article.title} - ${article.source.name}`).join(\"\\n\\n\");\n    msg.payload = formattedArticles;\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 200,
        "wires": [
            [
                "f7748f2b66341b6d"
            ]
        ]
    }
]